/**************************BANNER************************************/
.business-header {
    background: url('../img/mushroomontree.jpg') center center no-repeat scroll;
    height: 400px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
/*Customize the text color and shadow color and to optimize text legibility. */
.tagline {
    text-shadow: 0 0 20px #000;
    color: #fff;
}
u {
    border-bottom: 1px dotted #000;
    text-decoration: none;
}
.img-center {
    margin: 0 auto;
}
footer {
    margin: 50px 0;
}
a, a:hover, a:focus  {
    color: darkolivegreen;
}