/**************************BANNER************************************/
.business-header {
    background: url('../img/thumbnail_Indian Steps.jpg') center center no-repeat scroll;
    height: 400px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
/*Customize the text color and shadow color and to optimize text legibility. */
.tagline2 {
    text-shadow: 2px 2px 10px black;
    color: #fff;
    padding-top: 160px;
    text-align: left;
    float: right;
    margin-right: 150px;
}
u {
    border-bottom: 1px dotted #000;
    text-decoration: none;
}
.img-center {
    margin: 0 auto;
}
footer {
    margin: 50px 0;
}
a, a:hover, a:focus  {
    color: darkolivegreen;
}