/**********************Admin Navigation************************/
.adminNavBar {
    background-color: darkolivegreen;
    color: white
}
a, a:hover, a:focus {
    color: white;
    text-decoration: none;
}
/*.nav > li > a:hover, .nav > li > a:focus {*/
    /*background-color:black;*/
/*}*/
a.active {
    background-color: black;
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
    background-color: black;
    border-color: black;
}
.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a {
    background-color: darkolivegreen;
}

#alert {
    text-shadow: 2px 2px 2px #1d9b6c;
}

#warning {
    text-shadow: 2px 2px 2px #ff0000;
}
/***********************UPDATE SPECIES*********************************/
.sub {
    background-color: #556B2f;
    border-color: #556B2f;
}
.sub:hover, .sub:focus {
    background-color: #445525;
    border-color: #445525;
}
.resetSpace {
    margin-bottom: 15px;
}

