.app {
    padding-top: 0;
    margin: 0;
    text-align: center;
    font-weight: 500;
}

/*.nav-tabs > li.active > a:focus {*/
    /*background-color: #556B2f;*/
/*}*/

/*.navbar-default .navbar-nav .appnav li:active {*/
    /*background-color: #556B2f;*/
/*}*/
/*.navbar-default .navbar-nav > li > a:hover {*/
    /*background-color: #556B2f;*/
    /*!*text-shadow: 5px 5px 5px white;*!*/
/*}*/
/*.navbar-default .navbar-nav > .appnav li:active {*/
    /*color: #556B2f;*/
    /*!*text-shadow: 5px 5px 5px white;*!*/
/*}*/
/*.navbar-default .navbar-nav > li > a:focus {*/
    /*background-color: #556B2f;*/
    /*!*text-shadow: 5px 5px 5px white;*!*/
/*}*/
.pic {
    width: 200px;
    height: 200px;
    padding: 0px 15px 15px 0px;
}

.shape {
    box-sizing: border-box;
    margin: 10px 0px 0px 0px;
    border-right: 10px solid white;
    background-color: lightgrey;
    padding: 10px 10px 10px 10px;
}
.left {
    float: left;
}
.right {
    /*float: right;*/
    padding-left: 10px;
    margin: 0;
    height: 240px;
}
.sort {
    position: relative;
    right: -10%;
}
