/********************NAVIGATION****************************/
a, a:hover, a:focus {
	color: white;
	text-decoration: none;
}
.nav > li > a:hover, .nav > li > a:focus {
	background-color:black;
}
#admin li.admin, #app li.appnav, #species li.speciesnav,#about li.about, #glossary li.glossary  {
	/*background-color: rgba(255,255,255,.3);*/
	background-color: darkolivegreen;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	background-color: darkolivegreen;
}
.form-group {
	padding: 0;
}
/*********************BANNER*****************************/
.tagline {
	text-shadow: 0 0 10px #000;
	color: #fff;
	padding-top: 100px;
}
.img-center {
	margin: 0 auto;
}
/**********************FOOTER****************************/
footer {
	margin: 50px 0;
}
