/*************************SPECIES LINKS*********************************/
a {
    color: darkolivegreen;
    text-decoration: none;
}

a:hover, a:focus {
    color: black;
    text-decoration: none;
}
