body {
	padding-top: 50px;
}

.thumbnail {
	height: 45%;
	width: 45%;
}

.imageBox {
	display: inline-block;
	border: 1px solid grey;
	background: silver;
	padding: 4px;
	text-align: center;
	font-size: 10px;
	vertical-align: top;
}

.hs{
	width:auto;
	margin:auto;
}

.hs ul{
	list-style:none;
	margin:0;
	padding:0;
}

.hs ul li{
	width:200px;
	float:left;
	margin-right:12px;
}

.showcase {
	/* Set it so we could calculate the offsetLeft */
	position: relative;
	height: 300px;
	width:1143px;
	/* Add scroll-bars */
	overflow: auto;
	float:left;
}

/*.left-arrow{*/
	/*width:22px;*/
	/*height:197px;*/
	/*display:block;*/
	/*margin-right:10px;*/
	/*float:left;*/
/*}*/

/*.right-arrow{*/
	/*width:22px;*/
	/*height:197px;*/
	/*display:block;*/
	/*margin-left:10px;*/
	/*float:left;*/
/*}*/